h1 {color:cadetblue; text-align: center; padding-top: 50px;}
#generator {background-color:black; color: cadetblue; display: block; margin-left: auto; margin-right: auto; font-size: 2em;}
body {background-color: antiquewhite;}